.dndflow {
    flex-direction: column;
    display: flex;
    height: 100%;
    background: #2d2d2d;
}

.topbarbutton {
    background-color: #a0aaa0; /* Green */
    border: 2px #0d220d;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.1s;
}

.topbarbutton:hover {
    background-color: #4CAF50; /* Green */
    border: 2px #0d220d;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #273827;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 93%;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        width: 20%;
        max-width: 250px;
    }
}

.operator-handle {
    box-sizing: inherit;
    margin-top: -5px;
    margin-bottom: -5px;
}

.sidebar {
    background-color: #464646;
    border-right: 1px solid #eee;
    padding-right: 3px;
    width: 300px;
    overflow: hidden;
    display: inline-table;
    position: relative;

}

.sidebar-scroll {
    width: 100%;
    overflow-y: scroll;
    height: 93vh;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.sidebar-scroll::-webkit-scrollbar {
    display: none;
}

.sidebar-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.tr, td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    overflow: hidden;
}

td:first-child {
    text-align: left;
    width: 60px;
}


.tr {
    border: 1px solid black;
}

.Collapsible {
    height: 100%;
    vertical-align: top;
    display: block;
}

.Collapsible__trigger {
    height: 30px;
    display: inline-block;
    background-color: #1e1e1e;
    width: 100%;
    color: white;
    vertical-align: top;
    border-collapse: collapse;
    overflow: auto;
    text-align: center;
    border: 1px solid black;
}

.Collapsible__contentInner {
}

.title {
    text-align: center;
    font-weight: bold;
}

.forms {
    border-right-width: 0;
    border-right-style: solid;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    width: 400px;
    background-color: #5a5a5a;
}

.form-div {
    padding-top: 20px;
}

.form-label {
    text-align: center;
    font-weight: bold;
    display: block;
    padding-top: 30px;
}

.mouse-image {
    display: block;
    margin: 0 auto;
    width: 100px;
    padding-top: 30px;
}