.s3 {
  width: 36px;
  height: 36px;
  padding: 10px;

  background-image: url("../../../assets/s3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.kafka {
  width: 36px;
  height: 36px;
  padding: 10px;

  background-image: url("../../../assets/kafka.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.elasticsearch {
  width: 36px;
  height: 36px;
  padding: 10px;

  background-image: url("../../../assets/elasticsearch.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}