.node {
  width: 36px;
  height: 36px;
  padding: 10px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.s3 {
  background-image: url("../../../assets/AWS/s3.png");
}

.kafka {
  background-image: url("../../../assets/kafka.png");
}

.elasticsearch {
  background-image: url("../../../assets/elasticsearch.svg");
}

.dynamodb {
  background-image: url("../../../assets/AWS/dynamodb.png");
}

.kinesis {
  background-image: url("../../../assets/AWS/kinesis.svg");
}

.pubsub {
  background-image: url("../../../assets/GCP/Big Data/pub_sub-512-color.svg");
}

.bigquery {
  background-image: url("../../../assets/GCP/Big Data/bigquery-512-color.svg");
}

.datalab {
  background-image: url("../../../assets/GCP/Big Data/data-lab-512-color.svg");
}

.dataflow {
  background-image: url("../../../assets/GCP/Big Data/dataflow-512-color.svg");
}

.dataproc {
  background-image: url("../../../assets/GCP/Big Data/dataproc-512-color.svg");
}