.dndflow {
    flex-direction: column;
    display: flex;
    height: 100%;
    background: #5a5a5a;
}

.sidebar {
    background-color: #464646;
    border-right: 1px solid #eee;
    padding: 0 0;
    width: 300px;
}

.dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        width: 20%;
        max-width: 250px;
    }
}

.operator-handle {
    box-sizing: inherit;
    padding: 0px;
    margin: 70px 0 70px;
}

.s3 {
    width: 36px;
    height: 36px;
    padding: 10px;

    background-image: url("../../assets/s3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.kafka {
    width: 36px;
    height: 36px;
    padding: 10px;

    background-image: url("../../assets/kafka.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.elasticsearch {
    width: 36px;
    height: 36px;
    padding: 10px;

    background-image: url("../../assets/elasticsearch.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sidebar-table {
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
    overflow: auto;
}

.tr, td{
    height: 50px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.tr {
    border: 1px solid black;
}

.th {
    height: 70px;
    text-align: left;
}


