.dndflow {
    flex-direction: column;
    display: flex;
    height: 100%;
    background: #5a5a5a;
}

.sidebar {
    background-color: #464646;
    border-right: 1px solid #eee;
    padding: 0 0;
    width: 300px;
}

.topbarbutton {
    background-color: #a0aaa0; /* Green */
    border: 2px #0d220d;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.1s;
}

.topbarbutton:hover {
    background-color: #4CAF50; /* Green */
    border: 2px #0d220d;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #273827;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 93%;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        width: 20%;
        max-width: 250px;
    }
}

.operator-handle {
    box-sizing: inherit;
    padding: 0;
}

.s3 {
    width: 36px;
    height: 36px;
    padding: 10px;

    background-image: url("../../assets/s3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.kafka {
    width: 36px;
    height: 36px;
    padding: 10px;

    background-image: url("../../assets/kafka.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.elasticsearch {
    width: 36px;
    height: 36px;
    padding: 10px;

    background-image: url("../../assets/elasticsearch.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sidebar-table {
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
    overflow: auto;
}

.tr, td{
    height: 50px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.tr {
    border: 1px solid black;
}

.title {
    text-align: center;
    font-weight: bold;
}


