.ant-form-item-label {
  position: relative;
  top: 25px;
  width: 33.33333333%;
  padding: 10px;
}

.ant-form-item {
  margin-top: 10px;
  display: inline;
}

.ant-input {
  width: 100%;
  display: block;
  overflow: auto;
}

.ant-form-item-control-wrapper {
  width: 66.66666667%;
  display: inline-flex;
  line-height: normal;
  padding: 10px;
}

.label {
  color: white;
}

.container {
  display: inline-block;
  justify-content: center;
}

.Formik {
  width: 100%;
}

.form-container {
  width: 100%;
  display: inline-block;
  margin:0 auto;
}

.field-container {
  height: 65px;
  padding: 10px;
  float: right;
  margin: 15px 10px 10px;
}
