.ant-form-item-label {
  position: relative;
  top: 25px;
  width: 33.33333333%;
}

.ant-form-item-control-wrapper {
  width: 66.66666667%;
  display: inline-flex;
  line-height: normal;
  padding: 10px;
}

.container {
  vertical-align: top;
  border-collapse: collapse;
  overflow: auto;
  background-color: #464646;
}

.form-container {
  text-align: left;
  margin: 10px 10px;
}

.field-container {
  height: 65px;
  padding: 10px;
}

.submit-container {
  text-align: center;
  margin-top: 25px;
}
