.node {
	width: 36px;
	height: 36px;
	padding: 10px;
	cursor: grabbing;

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.s3 {
	background-image: url("../../../../../assets/AWS/s3.png");
}

.kafka {
	background-image: url("../../../../../assets/apache/kafka.png");
}

.elasticsearch {
	background-image: url("../../../../../assets/elasticsearch.svg");
}

.dynamodb {
	background-image: url("../../../../../assets/AWS/dynamodb.png");
}

.kinesis {
	background-image: url("../../../../../assets/AWS/kinesis.svg");
}

.pubsub {
	background-image: url("../../../../../assets/GCP/Big Data/pub_sub-512-color.svg");
}

.spark {
	background-image: url("../../../../../assets/apache/spark.png");
}

.bigquery {
	background-image: url("../../../../../assets/GCP/Big Data/bigquery-512-color.svg");
}

.datalab {
	background-image: url("../../../../../assets/GCP/Big Data/data-lab-512-color.svg");
}

.dataflow {
	background-image: url("../../../../../assets/GCP/Big Data/dataflow-512-color.svg");
}

.dataproc {
	background-image: url("../../../../../assets/GCP/Big Data/dataproc-512-color.svg");
}

.appengine {
	background-image: url("../../../../../assets/GCP/Compute/AppEngine-512-color.svg");
}

.cloudfunctions {
	background-image: url("../../../../../assets/GCP/Compute/cloud-functions-512-color.svg");
}

.bigtable {
	background-image: url("../../../../../assets/GCP/Storage & Databases/cloud-bigtable-512-color.svg");
}

.filestore {
	background-image: url("../../../../../assets/GCP/Storage & Databases/filestore-512-color.svg");
}

.lambda {
	background-image: url("../../../../../assets/AWS/lambda.svg");
}

.emr {
	background-image: url("../../../../../assets/AWS/emr.png");
}

.redshift {
	background-image: url("../../../../../assets/AWS/redshift.svg");
}

.sqs {
	background-image: url("../../../../../assets/AWS/sqs.svg");
}

.cloudsql {
	background-image: url("../../../../../assets/GCP/Storage & Databases/cloud-sql-512-color.svg");
}

.memorystore {
	background-image: url("../../../../../assets/GCP/Storage & Databases/memorystore-512-color.svg");
}

.flink {
	background-image: url("../../../../../assets/apache/flink.png");
}

.pig {
	background-image: url("../../../../../assets/apache/pig.png");
}

.hive {
	background-image: url("../../../../../assets/apache/hive.svg");
}

.hadoop {
	background-image: url("../../../../../assets/apache/hadoop.svg");
}

.impala {
	background-image: url("../../../../../assets/apache/impala.svg");
}

.cassandra {
	background-image: url("../../../../../assets/apache/cassandra.svg");
}
